@model ActualizarEmpleadoModel

@{
    ViewBag.Title = "Actualizar Empleado";
}
@if (TempData["Message"] != null)
{
    <div class="alert alert-info">
        @TempData["Message"]
    </div>
}

@if (TempData["StackTrace"] != null)
{
    <div class="alert alert-warning">
        @TempData["StackTrace"]
    </div>
}

<a asp-area="" asp-controller="Empleado" asp-action="Details" class="bg-dark rounded" style="color:white;text-decoration:none;padding:0.5em;">
    <img src="~/arrow-left-solid.svg" class="m-1" style="width: 1.1em;">
</a>

<h2 class="text-center">Actualizar Empleado</h2>

<form asp-action="ActualizarEmpleado" method="post" class="form-horizontal">
    <div id="fondo">
        <input type="hidden" asp-for="IdEmpleado" />
        <div class="form-group">
            @Html.LabelFor(model => model.Nombre)
            @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", type = "text" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Apellido)
            @Html.TextBoxFor(model => model.Apellido, new { @class = "form-control", type = "text" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaNac)
            @Html.TextBoxFor(model => model.FechaNac, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaIngreso)
            @Html.TextBoxFor(model => model.FechaIngreso, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdGenero)
            @Html.DropDownListFor(model => model.IdGenero, (SelectList)ViewBag.generos, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdPais)
            @Html.DropDownListFor(model => model.IdPais, (SelectList)ViewBag.paises, new { @class = "form-control", type = "number" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdDepartamento)
            @Html.DropDownListFor(model => model.IdDepartamento, (SelectList)ViewBag.departamentos, new { @class = "form-control", type = "number" })
        </div>

        <div class="container-fluid d-flex align-items-center">
            <button type="submit" class="btn btn-primary" style="margin:0.5em;">Procesar</button>
            <a asp-area="" asp-controller="Empleado" asp-action="Details" class="btn btn-danger" style="margin:0.5em;">Cancelar</a>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
