@model List<Front.Models.EmpleadoModel>

@{
    ViewBag.Title = "Lista Empleados";
}
@if (TempData["Message"] != null)
{
    <div class="alert alert-info">
        @TempData["Message"]
    </div>
}

@if (TempData["StackTrace"] != null)
{
    <div class="alert alert-warning">
        @TempData["StackTrace"]
    </div>
}

<div class="container-fluid d-flex justify-content-between align-items-center">
    <a asp-area="" asp-controller="Empleado" asp-action="Index" class="bg-dark rounded" style="color:white;text-decoration:none;padding:0.5em;">Volver</a>

    <form action="/Empleado/BuscarEmpleado" method="get" class="d-flex">
        <div class="form-group d-flex align-items-center me-2">
            @Html.TextBox("busqueda", null, new { @class = "form-control", type = "text", placeholder = "Buscar..." })
        </div>

        <button type="submit" class="bg-dark rounded d-inline-flex justify-content-around align-items-center">
            <img src="~/magnifying-glass-solid.svg" class="m-1" style="width: 1.1em;">
        </button>
    </form>

    <a asp-area="" asp-controller="Empleado" asp-action="CrearEmpleado" class="bg-dark rounded d-inline-flex justify-content-around align-items-center" style="width:10em;color:white;text-decoration:none;padding:0.5em;">
        <img src="~/user-plus-solid.svg" class="m-1" style="max-width: 1.1em;margin-right:0.5em">  <p class="m-1">Dar de Alta</p>
    </a>
</div>

<table class="table">
    <thead>
        <tr id="encabezado">
            <th></th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Fecha de Nacimiento</th>
            <th>Fecha de Ingreso</th>
            <th>Género</th>
            <th>País</th>
            <th>Departamento</th>
            <th>Salario</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var empleado in Model)
        {
            <tr id="filas">
                <td>
                    <a asp-controller="Empleado" asp-action="ActualizarEmpleado" asp-route-id="@empleado.IdEmpleado" class="btn btn-info d-flex align-items-center justify-content-center w-auto"><img src="~/pencil-square.svg" /></a>
                </td>
                <td>@empleado.Nombre</td>
                <td>@empleado.Apellido</td>
                <td>@empleado.FechaNac</td>
                <td>@empleado.FechaIngreso</td>
                <td>@empleado.GeneroDescripcion</td>
                <td>@empleado.PaisDescripcion</td>
                <td>@empleado.DepartamentoDescripcion</td>
                <td>$ @empleado.Salario</td>
                <td>
                    <form asp-action="EliminarEmpleado" asp-route-id="@empleado.IdEmpleado" method="post" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este empleado?');">
                        <button type="submit" class="btn btn-danger d-flex align-items-center justify-content-center"><img src="~/trash3-fill.svg" /></button>
                    </form>
                </td>
                <td>
                    <a asp-controller="Empleado" asp-action="Detalle" asp-route-empleadoid="@empleado.IdEmpleado" class="bg-dark rounded" style="color:white;text-decoration:none;padding:0.5em;">
                        <img src="~/arrow-right-solid.svg" class="m-1" style="width: 1.1em;">
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>